.card-container{
    display:flex;
    justify-content:center;
    gap:20px;
    margin:30px;
}

.card{
    background:#0b2719;
    padding:20px;
    width:250px;
    border-radius:12px;
    box-shadow:0 4px 15px rgba(248, 247, 247, 0.1);
    text-align:center;
}
body{
    background :#464947;
    
}

.btn{
    padding:10px 15px;
    background:rgb(42, 77, 74);
    color:rgb(12, 1, 1);
    border:none;
    border-radius:8px;
    cursor:pointer;
}
.btn:hover{
    background:#2b4236;
}

.form{
    width:300px;
    margin:30px auto;
    display:flex;
    flex-direction:column;
    gap:12px;
}

.form input{
    padding:10px;
    border-radius:6px;
    border:1px solid #080101;
}
